.todo .input {
  display: flex;
}

.todo .input input {
  flex: 3;
  padding: 8px;
  margin: 3px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #ddd;
}

.todo .input button {
  flex: 1;
  padding: 12px 16px;
  margin: 5px;
  border: 0;
  outline: 0;
  border-radius: 10px;
  background-color: #b698ca;
  min-height: 10vh;
  color: white;
  font-weight: 700;
}

.todo .input button:hover {
  background-color: #bd84e2;
  min-height: 10vh;
  cursor: pointer;
}

.todo .input button:disabled {
  color: #777;
  cursor: not-allowed;
  background-color: #dddddd;
}

.todo .item {
  display: flex;
  border-top: 1px solid #ddd;
}

.todo .item div {
  padding: 8px;
  margin: 5px;
}

.todo .item .delete,
.todo .item .complete {
  font-size: 20px;
  font-weight: 800;
  color: black;
  vertical-align: center;
  opacity: 0;
  transition: 0.9s;
}

.todo .item:hover .delete,
.todo .item:hover .complete {
  opacity: 1;
}

.todo .item .delete:hover,
.todo .item .complete:hover {
  cursor: pointer;
  background-color: red;
  border-radius: 40px;
}

.todo .item .sdate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #01be30;
  font-size: 15px;
}

.todo .item .sdate div {
  margin: 0;
  padding: 0;
}

.todo .item .content {
  flex: 1;
  font-size: 20px;
  text-align: left;
  cursor: pointer;
}

.todo .item .content.line {
  text-decoration: line-through;
  text-decoration-color: red;
  color: #999;
}
